.idea/
*.pyc
media/
/openshift/
db/
venv/
db/
db.sqlite3
.env
node_modules/
_db_.sqlite3_
node_modules/
!/Dockerfile
!/Dockerfile.prod
openshift/
citinova-fortalezabilingue-dev-cfg-map.yaml/
/.vscode

.DS_Store
